/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/


/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/

body {
  margin: auto;
  background-color: #F2F1E8;
  font-family: serif;
  line-height: 180%;
}

nav {
  list-style-type: none;
  text-align: center;
  background-color: white;
  margin: 0 0;
  padding: 0 0;
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  width: 100%;
}

#logo {
  background-image: url("bent-creek-logo.png");
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  justify-content: flex-start;
}

nav a {
  /*display: flex;*/
  /*width: 50%;*/
  padding: 2% 0;
  /*text-align: center;*/
  text-decoration: underline;
  color: #2B2F26;
  /*align-content: center;*/
}

nav li: hover {
  color: #cd5d67;
}

nav li: active {
  color: #968772;
}

/*======= ABOUT =======*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: column;
  padding: 15%;
  padding-top: 4%;
  font-family: 'Merriweather', serif;
}

#abouttopofpage {
  margin: 5% 0;
}

#aboutstory {
  margin: 1% 0;
}

blockquote {
  font-style: italic;
  border-left: 1px solid grey;
  padding: 2%;
  padding-left: 4%;
  margin-left: 0;
}

header {
  font-size: 32px;
  font-weight: lighter;
  margin-top: 2%;
}

.overlay {
  background-image: url("background-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 15% 22%;
  font-size: 48px;
  margin: 3% 0;
}

#bottomcontainer {
width: 100%;
}

#facilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#facilities p {
  width: 50%;
}

aside {
  width: 30%;
  font-size: 10px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

aside div {
  background-image: url("background-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 100%;

}

#monthlyplans {
  width: auto;
  margin: 3% 0;
}

table {
  width: 700px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  justify-content: center;
}

th, td {
  padding: 2% 4%;
}


/*======= INDEX =======*/

.indexrow {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-flow: row wrap;*/
  /*width: 100%;
  height: auto;*/
}

.indexrow div.row_1, .row_2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /*height: 50vh;
  width:auto;*/
}

.indexrow div.row_1 {
  height: 200px;
}
.indexrow div.row_2 {
  height: 100px;
}

.indexrow div.row_1 div {
  width: 33.3%;
}

.indexrow div img {
  width: 100%;
  height: auto;
}

.indexrow div p {

}

#title {
  width: 100%;

}

#note {
  /*background-image: url("product-2.jpg");*/
}

#endlesspossibilities {
  /*background-image: url("product-3.jpg");*/
}

#sets {
  /*background-image: url("product-4.jpg");*/
}

#textures {
  /*background-image: url("product-5.jpg");*/
}

#teatime {
  /*background-image: url("product-6.jpg");*/
}

#jarsandcontainers {
  /*background-image: url("product-7.jpg");*/
}

#wasabiandsaki {
  /*background-image: url("product-1.jpg");*/
}

#sippinonsunshine {
  /*background-image: url("birdhouse.jpg");*/
}
/*===== NEWSLETTER ====*/

#newsletterwrapper {
  background-image: url("background-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#newslettercontainer {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin: 18%;
  padding: 5% 3%;
  font-family: 'Merriweather', serif;
}

#newsletterheader {
  font-size: 25px;
  font-weight: 100;
}

#newscalltoaction {
  font-size: 18px;
}

#newsform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

input {
  margin: 2% 0;
  padding: 0 0;
  border-style: none;
  border-bottom: 1px solid grey;
  font-size: 20px;
}

.submitbutton {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #968772;
  width: 130px;
  height: 60px;
  margin-top: 4%;
  border-style: none;
  color: #F2F1E8;
  font-size: 19px;
  font-weight: lighter;
}

.submitbutton:hover {
  background-color: #967343;
  color: #FFFFFF;
}
